.git
.github

.env
.env.*
.env.production

vendor
node_modules

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

bootstrap/cache/*.php

npm-debug.log
yarn-error.log

public/storage
public/hot

.DS_Store
.vscode
.idea

README.md
docker-compose.yml